@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap");

:root {
  --light: #b6b6b6;
  --white: #fafafa;
}

* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Noto Sans Hebrew", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > .container {
  background: red; /* <-- delete this when done */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  background: var(--white);
  flex-basis: 0;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 0 15px;
  min-width: 352px;
}

.profile .pfp {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: url(./pfp.jpeg) center -35px / cover no-repeat;
}

.profile .name {
  font-weight: 700;
  font-size: 1.4em;
  color: rgb(65, 65, 65);
}

.profile .title {
  font-weight: 500;
  font-size: 1.25em;
  color: rgb(82, 82, 82);
}

.top .description {
  position: relative;
  font-weight: 300;
  font-size: 1em;
  padding: 0 15px;
  margin: 20px 0;
  color: rgb(87, 87, 87);
}

.top .description::before {
  position: absolute;
  content: "";
  width: 55%;
  top: -30%;
  border-top: 1px solid rgb(126, 126, 126);
}

.bottom {
  position: relative;
  background: var(--white);
  flex-grow: 1;
  padding: 0 15px;
}

.bottom .container {
  border-top: 1px solid rgb(126, 126, 126);
  padding: 15px 0;
}

.bottom .title {
  margin-bottom: 3px;
  font-size: 1.1em;
  color: rgb(87, 87, 87);
  font-weight: 600;
}

.bottom .description {
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(65, 65, 65);
}

.bottom .container:first-child .description {
  direction: ltr;
  text-align: end;
}

@media only screen and (min-width: 700px) {
}
