@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Hebrew", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(231, 231, 231);
}

.container {
  position: relative;
  margin: 0 10px;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 400px;
  background: rgb(231, 231, 231);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 0 rgba(190, 190, 190, 0.637),
    -7px -7px 10px 0 rgba(255, 255, 255, 0.781);
}

.pfp {
  box-shadow: 5px 5px 7px 0 rgba(190, 190, 190, 0.637),
    -5px -5px 7px 0 rgba(255, 255, 255, 0.877);
  margin: 0 auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: url(./pfp.png) center -30px / 140% no-repeat;
}

.name {
  text-shadow: -1px -1px 2px rgb(94, 94, 94), 1px 1px 2px rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin: 10px auto -5px auto;
  color: rgb(206, 206, 206);
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.title {
  direction: rtl;
  text-shadow: -1px -1px 2px rgb(94, 94, 94), 1px 1px 2px rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  color: rgb(206, 206, 206);
  font-size: 2.6rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  text-align: center;
  color: rgb(206, 206, 206);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.description::before,
.description::after {
  left: 50%;
  transform: translateX(-50%);
  content: "";
  position: absolute;
  height: 3px;
  width: 70%;
  border-radius: 1px;
  box-shadow: inset 1px 1px 1px 0 rgba(148, 148, 148, 0.842),
    inset -1px -1px 1px 0 rgb(255, 255, 255);
  background-color: rgb(206, 206, 206);
}
.description::before {
  top: -15px;
}
.description::after {
  bottom: -15px;
}

.phone,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  width: 100%;
}

.material-icons {
  color: rgb(206, 206, 206);
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  font-size: 3.5rem;
}

.details .text {
  color: rgb(206, 206, 206);
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  font-size: 2.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}
