@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Noto Sans Hebrew", sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(231, 231, 231);
}

.container {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  height: 600px;
  width: 400px;
  background: rgb(231, 231, 231);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 10px 10px 20px 0 rgba(190, 190, 190, 0.637),
    -7px -7px 10px 0 rgba(255, 255, 255, 0.781);
}

.profile,
.description,
.details {
  flex: 1;
}

.pfp {
  box-shadow: inset -3px -3px 5px 0 rgba(255, 255, 255, 0.897),
    inset 3px 3px 5px 0 rgb(129, 129, 129);
  margin: 0 auto;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background: url(./pfp.png) center -21px / 130% no-repeat transparent;
}

.name {
  text-shadow: -1px -1px 2px rgb(94, 94, 94), 1px 1px 2px rgb(255, 255, 255);
  text-align: center;
  margin: 3px auto 0 auto;
  color: rgb(206, 206, 206);
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.title {
  direction: rtl;
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  width: 100%;
  margin-top: -5px;
  text-align: center;
  color: rgb(206, 206, 206);
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 300;
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  text-align: center;
  color: rgb(206, 206, 206);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
}

.description::before,
.description::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  border-radius: 1px;
  background: rgb(206, 206, 206);
  box-shadow: 1px 1px 1px 0 rgb(255, 255, 255),
    -1px -1px 1px 0 rgba(119, 119, 119, 0.801);
}

.description::before {
  width: 75%;
  top: -5px;
}
.description::after {
  bottom: -5px;
  width: 55%;
}

.first,
.second,
.third {
  position: relative;
}

.first::before,
.first::after,
.second::before,
.second::after,
.third::before,
.third::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 0 rgb(255, 255, 255),
    -1px -1px 1px 0 rgba(119, 119, 119, 0.801);
  background: rgb(206, 206, 206);
}

.first::before {
  left: 55px;
  top: 11px;
}
.first::after {
  right: 55px;
  top: 11px;
}

.second::before {
  left: 17px;
  top: 11px;
}
.second::after {
  right: 17px;
  top: 11px;
}

.third::before {
  left: 10px;
  top: 12px;
}
.third::after {
  right: 10px;
  top: 12px;
}

.details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  text-align: center;
}

.email,
.phone,
.location {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  width: 100%;
}

.email {
  font-weight: 400;
}

.material-symbols-outlined,
.text {
  color: rgb(206, 206, 206);
  text-shadow: -1px -1px 1px rgb(94, 94, 94), 1px 1px 1px rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.text {
  font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
  .container {
    width: 300px;
  }

  .name {
    font-size: 1.5rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .description {
    font-size: 1rem;
  }

  .first::before {
    left: 24px;
    top: 9px;
  }
  .first::after {
    right: 24px;
    top: 9px;
  }

  .second::before {
    left: -10px;
    top: 10px;
  }
  .second::after {
    right: -10px;
    top: 10px;
  }

  .third::before {
    left: 32px;
    top: 10px;
  }
  .third::after {
    right: 32px;
    top: 10px;
  }

  .description::after {
    bottom: 0;
  }

  .material-symbols-outlined {
    font-size: 1.6rem;
  }
  .details .text {
    font-size: 1.1rem;
  }
}
